body {
  background-color: rgb(255, 255, 255);
}

.icon {
  width: 20px;
}

#btn-newBook {
  width: 60px;
  height: 60px; 
  font-size: 46px;
  bottom: 50px;
  left: 50%;
  border-radius: 50% 50%;
}

.plus {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 5;
  bottom: 0;
}

.container {
  background-color: rgb(241, 247, 255) !important;
}